.post-container{
    height: 100vh;
    overflow-y: scroll;
    font-family: 'Times New Roman', Times, serif;
}

.card-title{
    font-size: 40px;
    color: #000000;
}

.card-body{
    min-height: 300px;
    box-shadow: 1px 3px 8px rgba(0,0,0, 0.5);
}

.custom-button, .btn-comments {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    text-align: inherit;
    text-decoration: underline;
  }


.post{
    margin-top: 30px;
}
 .info-user{
    text-align: left;
}

.comment{
    margin-top: 2px;
    background-color: black
}

.comment-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto; 
}

.comment-container h5,h6,p{
    background-color: transparent;
    color: rgb(0, 0, 0);
}
.btn-comments{
    margin-top: 50px;
    color: blue;
}

@media(max-width:620px){
    .card-title{
        font-size: 20px;
    }
    .card-body{
        min-height: 100px;
    }
    .post{
        margin-top: 15px;
    }
    .btn-comments{
        margin-top: 25px;
    }
      
}


