<div class="post-container">
    <div  *ngFor="let post of postUser" class="card text-center post">
        <div class="card-body">
            <div class="info-user">
                <button type="button" class="custom-button" data-bs-toggle="modal" data-bs-target="#userModal" (click)="userInformations(post.user.name,post.user.email)">{{post.user.name}} </button>
            </div>
            <span class="card-title"><i>{{post.post.title}}</i></span>
            <p class="card-text"><i>{{post.post.body}}</i></p>
            <button type="button" class="btn btn-primary btn-comments" (click)="navigateToComments(post.post.id)">Comentários</button>
        </div>

    </div>
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="userModalLabel">User Informations</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>{{userModal}}<br></span>
                    <span>{{emailModal}}<br></span>
                </div>
            </div>
        </div>
    </div>
</div>
